:root {
  --dark-blue: rgba(12, 0, 113, 1);
  --indigo: rgba(102, 0, 255, 1);
  --purple: rgba(204, 0, 255, 1);
  --orange: rgba(255, 102, 51, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --gray: rgba(111, 111, 111, 1);
  --light-gray: rgba(240, 239, 238, 1);
  --abril-font-family: "AbrilDisplay-ExtraBold", Helvetica;
  --abril-font-weight: 800;
  --abril-font-size: 70px;
  --abril-letter-spacing: 1.4px;
  --abril-line-height: normal;
  --abril-font-style: normal;
  --circular-font-family: "CircularStd-Bold", Helvetica;
  --circular-font-weight: 700;
  --circular-font-size: 18px;
  --circular-letter-spacing: 0.36px;
  --circular-line-height: normal;
  --circular-font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  
}

.sign-in {
  display: flex;
  
  align-items: center;
  gap: 159px;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  
}

.sign-in .illustration {
  position: relative;
  width: 75vh;
  height: 100vh;
  object-fit: cover;
  
}

.sign-in .frame {
  position: relative;
  width: 520px;
  height: 100vh;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.sign-in .text-wrapper {
  top: -1px;
  left: 145px;
  font-family: var(--abril-font-family);
  font-weight: var(--abril-font-weight);
  color: var(--indigo);
  font-size: var(--abril-font-size);
  letter-spacing: var(--abril-letter-spacing);
  position: absolute;
  line-height: var(--abril-line-height);
  font-style: var(--abril-font-style);
}

.sign-in .group {
  position: absolute;
  width: 522px;
  height: 88px;
  top: 150px;
  left: 0;
}

.sign-in .rectangle {
  position: absolute;
  width: 520px;
  height: 42px;
  top: 46px;
  left: 0;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 5px 5px 20px #00000026;
}

.sign-in .div {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
}

.sign-in .group-2 {
  position: absolute;
  width: 522px;
  height: 88px;
  top: 250px;
  left: 0;
}

.sign-in .text-wrapper-2 {
  position: absolute;
  top: 450px;
  left: 182px;
  font-family: var(--circular-font-family);
  font-weight: var(--circular-font-weight);
  color: var(--indigo);
  font-size: var(--circular-font-size);
  letter-spacing: var(--circular-letter-spacing);
  line-height: var(--circular-line-height);
  font-style: var(--circular-font-style);
}

.sign-in .group-3 {
  position: absolute;
  width: 368px;
  height: 25px;
  top: 500px;
  left: 77px;
}

.sign-in .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 168px;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
}

.sign-in .vector {
  left: 0;
  position: absolute;
  width: 136px;
  height: 4px;
  top: 10px;
}

.sign-in .img {
  left: 230px;
  position: absolute;
  width: 136px;
  height: 4px;
  top: 10px;
}

.sign-in .group-wrapper {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 35px;
  position: absolute;
  top: 600px;
  left: 104px;
  background-color: var(--black);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 5px 5px 20px #00000026;
}

.sign-in .group-4 {
  position: relative;
  width: 202.36px;
  height: 25px;
}

.sign-in .text-wrapper-4 {
  left: 23px;
  color: var(--white);
  position: absolute;
  top: 0;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
  white-space: nowrap; 
}

.sign-in .group-5 {
  position: absolute;
  width: 13px;
  height: 17px;
  top: 3px;
  left: 0;
}

.sign-in .div-wrapper {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 35px;
  position: absolute;
  top: 690px;
  left: 104px;
  background-color: var(--white);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 5px 5px 20px #00000026;
}

.sign-in .group-6 {
  position: relative;
  width: 218px;
  height: 25px;
}

.sign-in .text-wrapper-5 {
  left: 27px;
  color: var(--black);
  position: absolute;
  top: 0;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
  white-space: nowrap; 
}

.sign-in .text-wrapper-5 {
  left: 27px;
  color: var(--black);
  position: absolute;
  top: 0;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
  white-space: nowrap; 
}

.sign-in .google {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 3px;
  left: 0;
}

.sign-in .frame-2 {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 35px;
  position: absolute;
  top: 350px;
  left: 104px;
  background-color: var(--indigo);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 5px 5px 20px #00000026;
}

.sign-in .communication-mail {
  position: relative;
  width: 24px;
  height: 24px;
}
.sign-in .group-7 {
  position: relative;
  width: 68px;
  height: 25px;
  white-space: nowrap;
}

.sign-in .transparent-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;  
  cursor: pointer;
}

.sign-in .text-wrapper-6 {
  top: 0;
  left: 0;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0.4px;
  position: absolute;
  line-height: normal;
  white-space: nowrap; 
}

.sign-in .mercury-logo {
  position: fixed;
  width: 204px;
  height: 38px;
  top: 54px;
  left: 82px;
}

upsign{
  left: 27px;
  color: var(--black);
  position: absolute;
  top: 0;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
  white-space: nowrap; 
}

.input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;

}
.transparent-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;  
  cursor: pointer;
}

