:root {
    --abril-font-family: "AbrilDisplay-ExtraBold", Helvetica;
    --abril-font-size: 70px;
    --abril-font-style: normal;
    --abril-font-weight: 800;
    --abril-letter-spacing: 1.4px;
    --abril-line-height: normal;
    --black: rgba(0, 0, 0, 1);
    --circular-font-family: "CircularStd-Bold", Helvetica;
    --circular-font-size: 20px;
    --circular-font-style: normal;
    --circular-font-weight: 700;
    --circular-letter-spacing: 0.4px;
    --circular-line-height: normal;
    --dark-blue: rgba(12, 0, 113, 1);
    --gray: rgba(111, 111, 111, 1);
    --indigo: rgba(102, 0, 255, 1);
    --light-gray: rgba(240, 239, 238, 1);
    --orange: rgba(255, 102, 51, 1);
    --purple: rgba(204, 0, 255, 1);
    --white: rgba(255, 255, 255, 1);  
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.text-wrapper-2, .div{
  color: #ffffff;
  font-family: var(--circular-font-family);
  font-size: var(--circular-font-size);
  font-weight: var(--circular-font-weight);
  letter-spacing: var(--circular-letter-spacing);
  line-height: var(--circular-line-height);
  text-align: center;
}

.text-wrapper-3, .div{
  color: #000000;
  font-family: var(--circular-font-family);
  font-size: var(--circular-font-size);
  font-weight: var(--circular-font-weight);
  letter-spacing: var(--circular-letter-spacing);
  line-height: var(--circular-line-height);
  text-align: center;
}

.buttons {
  
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.buttons .text-wrapper-2 {
  
  border-color: #0C0071;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 20px;
}




.section-1 {
  align-self: center;
  margin-top: 250px;
  margin-bottom: 70px;
}

.frame-2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.frame-2 .div {
  background-color: #0C0071;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 36px;
  margin-top: 50px;
}


.label .text-wrapper {
  position: relative;
  font-family: "Abril Display-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 1.4px;
  line-height: normal;
  text-align: center;
  }

  .button {
    background-color: #0C0071;
    border-radius: 50px;
    cursor: pointer;
   
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: var(--circular-font-family);
    font-size: var(--circular-font-size);
    font-weight: var(--circular-font-weight);
    letter-spacing: var(--circular-letter-spacing);
    line-height: var(--circular-line-height);
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }